/*colores*/
:root {
    --color-principal: #090028;
    --color-secundario: #FFFFFF;
    --color-celeste: #1D70B7;
    --color-amarillo: #E4CB25;
    --color-grisFondo: #DFDFDF;
    --color-azul: #304FD2;
    --opacidad-texto: 0.9;
}

/*@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
}*/

*{
    box-sizing: border-box;
}

body{
    background-color: var(--color-grisFondo);
}

/*fuentes para encabezados de secciones*/
.encabezados-secciones{
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

/*imagenes*/
/*.imagen{
    width: 290px;
    height: 100px;
}*/

#logoHome{
    max-width: 160px;
}
/*navbar*/

/*botones*/
.botones-slide{
    height: 38.88px;
    width: 230.34px;
    border-radius: 60px;
    background: linear-gradient(0deg, #000A91 0%, #003ACE 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: white;
    margin-bottom: 1%;
}/*Botones para carousel*/

.botones-vermas{
    height: 44px;
    width: 122px;
    background-color: #4B48E9;
    color: var(--color-secundario);
    background: linear-gradient(0deg, #304FD2 0%, #6461FE 72.56%, #A055FF 100%);
    box-shadow: 0 10px 27px 0 rgba(0,0,0,0.1);
    border-radius: 60px;
    text-decoration: none;
    text-align: center;
    font-size: small;
}/*botones de ver mas (se utilizan en el apartado 'etiquetas')*/

/*tamaño de imagenes carrousel y sombra*/
.slide img{
    max-height: 45vw;
    filter: brightness(50%);
}


/*logos de medios*/
.logosMedios{
    max-height: 29.56px;
    max-width: 29px;
}

/*encabezados de carrusel*/
.carrusel-encabezado{
    display: block;
    width: 100%;
    border: solid white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*color al pasar el mouse por los items del menu*/
#navbarNav li a{
    opacity: 70%;
}
#navbarNav li a:hover{
    background-color: var(--color-celeste) !important;
    color: var(--color-secundario);
    opacity: 70%;
}


/*==========Contenido de cards==========*/

/*cards*/
.tarjetas{
    border-radius: 7%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*links de noticias*/
.tarjetas a{
    text-decoration: none;
    color: var(--color-principal);
}
.tarjetas a:hover{
    color: var(--color-celeste);
}

/*tamaño de divs en cards*/
.conteneder-imagenes{
    max-width: 100%;
    max-height: 250px;
    padding-left: 2%;
    padding-right: 2%;
}
/*tamaños de imagenes para cards*/
.img-cards{
    margin-top: 1%;
    border-radius: 9%;
    max-width: 99%;
    max-height: 250px;
}

/*==========Fim Contenido de cards==========*/

/*=========Contenido de agenda universitaria============*/

.contenedor-agenda{
    width: 100%;
    background-color: grey;
    align-items: center;
    padding: 5%;
    border-radius: 7%;
}

/*tamaño de logos de agenda universitaria*/
.logos-agenda{
    max-width: 24px;
    max-height: 24px;
    display: block;
    float: left;
    margin-left: 1%;
}

/*Tamaño de imagenes para agenda universitaria*/
.imagenesAgenda{
    max-width: 102px;
    max-height: 92px;
}

/*=========Fin contenido de agenda universitaria========*/

/*=========Contenido de etiquetas============*/
.img-etiquetas{
    max-width: 197px;
    max-height: 110px;
}

.contenedor-etiquetas{
    width: 100%;
    height: 100%;
    background-color: #CACFD2;
    border-radius: 7%;
}

/*=========Fin de contenido etiquetas========*/

/*footer*/
#piePagina{
    background-color: #090028;
}

/*logos de institucion y sitio de noticias*/
/*.contenedor-logonoticas{
    width: 50%;
}*/
.logosUNI{
    max-height: 157px;
    max-width: 264px;
}

/*tamaño de logos de footer*/
.logosFooter{
    max-width: 19px;
    max-height: 19px;
    margin-right: 2%;
}
.listasContactoSecciones label{
    margin-bottom: 2%;
}
/*lista de contacto y ubicacion*/
.listasContactoSecciones{
    list-style: none;
    display: block;
}
#listaContacto li{
    margin-bottom: 2%;
}

/*secciones*/
#hSecciones{
    margin-top: 10%;
    font-size: medium;
}

/*links de secciones*/
.linkInactivos{
    text-decoration: none;
    color: var(--color-secundario);
}

/*contenedor suscribir*/
#contendedor-suscribir{
    margin-top: 4%;
    max-width: 547px;
    height: 248px;
    border-radius: 5%;
    background-color: #041860;
    padding: 5%;
}
#contendedor-suscribir p{
    color: var(--color-secundario);
    opacity: 70%;
}
#contendedor-suscribir form input{
    width: 70%;
    height: 46px;
    opacity: 45%;
    text-align: left;
    border-radius: 4%;
    border-style: none;
    padding-left: 5%;
    margin: 0%;
}

#contendedor-suscribir form button{
    width: 55px;
    height: 55px;
    border-style: none;
    border-radius: 50%;
    margin-left: -5%;
}
/*bonton enviar mail*/
#btn-enviar{
    max-width: 25px;
    max-height: 25px;
}

/*imagenes de redes sociales*/
.img-redesSociales{
    display: inline-block;
    max-width: 45px;
    max-height: 45px;
    margin-right: 3%;
}

/*Imagen de UNSL*/
#imgUNSL{
    max-width: 280px;
    max-height: 82px;
    margin-top: 2%;
    margin-left: 2%;
}
/*Fin footer*/
